* {
    box-sizing: border-box;
    margin: 0;
}

body {
  background: -webkit-gradient(linear, left top, left bottom,from(rgba(47, 23, 15, .6))), url(./assets/mike-kenneally-46284-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
}

header {
    height: 300px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 80px;
}

.nav {
    background-color: rgba(47, 23, 15, .9);
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 550px;
    font-weight: 900;
}

.top-main {
    border: solid black;
    height: 700px;
    width: 100%;
    padding: 75px 250px;
    display: flex;
    justify-content: flex-end;
}

.coffee-lady {
    background-image: url(./assets/david-charles-schuett-362484-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 800px;
    border-radius: 5px;
}

.info-box {
    background-color: rgb(248, 248, 255, .8);
    height: 400px;
    width: 500px;
    border-radius: 5px;
    position: relative;
    top: 50px;
    left: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-align: center;
}

.info-box> div {
    font-weight: 900;
}

.info-box> span {
    font-size: 40px;
}

button {
    height: 50px;
    width: 90px;
    border-radius: 5px;
}

.lower-main {
    border: solid black;
    height: 550px;
    width: 100%;
    background-color: rgba(250, 165, 27, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-text {
    height: 400px;
    width: 70%;
    background-color: rgb(248, 248, 255, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  0 50px;
}

.empty {
    height: 100px;
    width: 100%
}

footer {
    border: solid black;
    background-color: rgba(47, 23, 15);
    height: 125px;
    width: 100%;
}