* {
    box-sizing: border-box;
}

body {
    background-image:  -webkit-gradient(linear, left top, left bottom, from(rgba(47,23,15,.7))), url(./assets/mike-kenneally-46284-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: white;
}

.nav {
   width: 100%;
   height: 100px;
   background-color: rgba(47,23,15,.9);
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 600px;
   font-size: 14px;
   font-weight: 800;
}

